<!DOCTYPE html>
<html>
  <head>
    <title>Blog_app</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  </head>

  <body>
  	<nav>
     <div class="nav-wrapper">
      <a href="/" class="brand-logo center">BlogApp</a>
      <% if user_signed_in? %>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><span><%= current_user.nickname%>さん</span></li>
        <li><a href="/users/<%= current_user.id%>">Mypage</a></li>
        <li><%= link_to 'SignOut', destroy_user_session_path, method: :delete%></li>
        <li><a href="/tweets/new">New</a></li>
       </ul>
       <% else %>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'SignIn', new_user_session_path %></li>
        <li><%= link_to 'SignUp', new_user_registration_path %></li>
       </ul>
       <%end%>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
